*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: url(../img/fondo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo img{
    height: 57px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, .7);
    transition: width .5 ease;
}

.sidebar:hover{
    width: 260px;
}

.sidebar .logo {
    color: #001219;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
    cursor: pointer;
}

.logo h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 15px;
    display: none;
}

.sidebar:hover .logo h2{
    display: block;
}

.sidebar .links{
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar{
    display: none;
}

.links li{
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover{
    cursor: pointer;
    background: #fffcf2;
}

.links h4{
    color: #001219;
    font-weight: 500;
    display: none;
    margin-bottom:10px ;
}

.sidebar:hover .links h4{
    display: block;
}

.links hr{
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr{
   border-color: transparent;
}

.links li span{
    padding: 12px 10px;
}

.links li a{
    padding: 10px;
    color: #0a0908;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a{
    display: block;
}

.links .logout-link{
    margin-top: 20px;

}






/*---------------------------------------------------------------------------------------------------*/

/* Ocultar los subíndices por defecto */
.sub-items {
    display: none;
}

/* Mostrar los subíndices cuando se hace hover sobre el ítem principal */
.parent-item:hover .sub-items {
    display: block;
}


.parent-item {
    position: relative; /* Para que el tooltip sea posicionado relativo a este elemento */
}

.tooltip {
    position: absolute;
    top: 100%; /* Posicionar el tooltip debajo del ítem principal */
    left: 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none; /* Ocultar el tooltip por defecto */
    z-index: 1000; /* Asegurar que esté sobre otros elementos */
}

.parent-item:hover .tooltip {
    display: block; /* Mostrar el tooltip cuando se hace hover sobre el ítem principal */
}





.parent-item {
    position: relative; /* Para que el tooltip sea posicionado relativo a este elemento */
}

.tooltip {
    position: absolute;
    top: 100%; /* Posicionar el tooltip debajo del ítem principal */
    left: 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none; /* Ocultar el tooltip por defecto */
    z-index: 1000; /* Asegurar que esté sobre otros elementos */
}

.tooltip .sub-items {
    list-style-type: none; /* Eliminar viñetas de la lista */
    padding: 0;
    margin: 0;
}

.tooltip .sub-items li {
    margin-bottom: 5px; /* Espacio entre cada elemento del tooltip */
}

.tooltip .sub-items li a {
    color: #333333;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.tooltip .sub-items li a:hover {
    background-color: #f0f0f0;
}


